HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/test/DocSettings/Jenkinsfile0
/src/test/DocSettings/Jenkinsfile1
/src/test/DocSettings/Jenkinsfile2
/src/test/DocSettings/Jenkinsfile3
/src/test/DocSettings/Jenkinsfile4
/src/test/DocSettings/Project-Settings-doc.docx
/src/test/DocSettings/Jenkinsfile
